<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS only BootStrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />

    <!-- Icon BootStrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />

    <!-- Main Style -->
    <link rel="stylesheet" href="../../public/styles/style.css" />

    <!-- JavaScript Bundle with Popper BootStrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
      defer
    ></script>

    <!-- Main Js -->
    <script src="../../public/script/main.js" defer></script>

    <script src="../../public/script/detalhes.js" defer></script>

    <title>E-Commerce</title>
  </head>
  <body>
    <header id="mainheader">
      <script src="../../public/script/header.js"></script>
    </header>
    <main>
      <section id="produtos">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
                <div class="text-center pt-5">
                    <h2>Produto</h2>
                </div>
            </div>
          </div>
          <div class="row produtos">
      
          </div>
        </div>
      </br>
      <div class="container">Teclado Mecânico Blackwidow Tournament Chroma V2 Orange Switch, Razer, Teclados, Preto</div>
      <div class="container">
          <div class="row">
              <div class="col-6">
                  <div class="card">
                      <img src="../../public/images/teclado-razers.webp" alt="TecladoRazer">
                  </div>
              </div>
              <div class="col-auto">
                  <h2>Vendido e entregue pelo GRUPO PENTA</h2>
                  <p>R$ 169,00</p>
                  <p>À vista no PIX com até 15% de desconto</p>
                  <p>Parcelas em até 10x sem juros no cartão</p>
                  <button class="btn btn-success">Comprar</button>
              </br>
                  <div class="container row-cols-2 text-center">
                      <div><img src="../../public/images/icon-pagamentoseguro.png" alt="PagSeguro">
                          <div>Pagamento Seguro</div>
                      </div>
  
                  
                  <div><img src="../../public/images/icon-devolucao.png" alt="Devolução">
                      <div>Politica de devolução</div>
                  </div>
              </div>
  
              </div>
          </div>
          </br>
          <div>
              <h1>Informações sobre o produto</h1>
              <span>
                  O Blackwidow é um teclado Slim Iluminado já aprovado por gamers de todo o mundo.
                  </br>
                  Sua alta performance, qualidade e estilo o tornaram uma das mais notáveis escolhas para quem procura o
                  melhor Custo x Benefício.
                  </br>
                  Características:
                  </br>
                  - Marca: Redragon
                  </br>
                  - Modelo: K502RGB
                  </br>
              </span>
              </br>
              </br>
              <h2>Aviso legal</h2>
              <p>Garantia de 3 meses</p>
          </div>
      </div>
      </section>
    </main>
  </br>
  </body>
</html>
