<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS only BootStrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />

    <!-- Icon BootStrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />

    <!-- Main Style -->
    <link rel="stylesheet" href="../../public/styles/style.css" />

    <!-- JavaScript Bundle with Popper BootStrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
      defer
    ></script>

    <!-- Main Js -->
    <script src="../../public/script/main.js" defer></script>

    <script src="../../public/script/detalhes.js" defer></script>

    <title>E-Commerce</title>
  </head>
  <body>
    <header id="mainheader">
      <script src="./public/script/header.js"></script>
    </header>
    <main>
      <section id="produtos">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
                <div class="text-center pt-5">
                    <h2>Produto</h2>
                </div>
            </div>
          </div>
          <div class="row produtos">

          </div>
        </div>
      </section>
    </main>
  </body>
</html>
