<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/styles/styleform.css" />
    <script src="form.js"></script>
    <!-- Fontawesome CDN Link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <title>Fale conosco</title>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <div class="left-side">
          <div class="address details">
            <i class="fas fa-map-marker-alt"></i>
            <div class="topic">Endereço</div>
            <div class="text-one">Nome da rua, numero 5</div>
            <div class="text-two">Centro,Rio de Janeiro-RJ</div>
          </div>
          <div class="phone details">
            <i class="fas fa-phone-alt"></i>
            <div class="topic">Telefone</div>
            <div class="text-one">+55 21 99999 8970</div>
            <div class="text-two">+55 21 4224 778X</div>
          </div>
          <div class="email details">
            <i class="fas fa-envelope"></i>
            <div class="topic">Email</div>
            <div class="text-one">penta@contato.com</div>
            <div class="text-two">@gmail.com</div>
          </div>
        </div>
        <div class="right-side">
          <div class="topic-text">Envie sua mensagem</div>
           <form action="#">
            <div class="input-box">
              <input type="text" placeholder="Digite seu nome" required/>
            </div>
            <div class="input-box">
              <input type="text" placeholder="Digite seu email" required />
            </div>
            <div class="input-box message-box">
              <textarea placeholder="Digite sua mensagem" required ></textarea>
            </div>
            <div class="button">
              <input type="submit" value="Enviar" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
    </div>
</body>
</html>