#logo-header {
    font-family: Stalinist One;
    font-size: 2rem;
    font-weight: 200;
    text-transform: uppercase;
  }
  
  #logo-header:hover {
    color: rgba(247, 215, 255, 0.726);
    transition: 0.5ms;
  }
  
  .nav-link {
    margin-left: 1rem;
    margin-right: 1rem;
    text-transform: uppercase;
  }
  
  .pesquisar {
    margin-right: 1rem;
  }
  
  .search {
    height: 3rem;
    width: 80%;
    border-radius: 6rem;
    border: solid 2px rgba(170, 23, 208, 0.85);
    outline: none;
    margin-right: -3.5rem;
  }
  
  .botao {
    height: 3rem;
    width: 40%;
    border-radius: 6rem;
    border: none;
    outline: none;
    background: rgb(170, 23, 208);
  }

  footer h2 {
    font-weight: 500;
    font-size: 1.25em;
  }
  
  footer h5 {
    font-weight: 500;
    font-size: 1em;
  }
  
  footer p {
    font-weight: 300;
    font-size: 1em;
  }
  
  footer {
    color: beige;
  }
  
  footer a {
    text-decoration: none;
    color: beige;
    text-transform: uppercase;
    font-size: 0.85em;
  }
  
  footer a:hover {
    color: rgb(170, 23, 208);
  }
  
  .botao1 {
    height: 4rem;
    width: 30%;
    border-radius: 6rem;
    border: solid 2px rgba(170, 23, 208, 0.85);
    outline: none;
    background: rgb(170, 23, 208);
  }
  
  .botao1:hover {
    background: rgb(47, 12, 56);
    border: solid 2px rgb(47, 12, 56);
    transition: 0.5ms;
  }
  
  .news-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .enteremail {
    height: 4rem;
    width: 60%;
    border-radius: 6rem;
    border: solid 2px rgba(170, 23, 208, 0.85);
    outline: none;
    margin-right: -5rem;
  }
  
  .media-img {
    height: 3rem;
    width: 3rem;
  }